{# _form.html.twig #}

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
<div class="form-group">
    {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
</div>
<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{% block stylesheets %}
    <style>
        .form-group {
            max-width: 800px;
            width: 100% !important;
        }

    </style>
{% endblock %}
