{% extends 'base.html.twig' %}

{% block title %}Edit MarketPlace{% endblock %}

{% block body %}
    <h1>Edit MarketPlace</h1>

    {{ include('market_place/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_market_place_index') }}">back to list</a>

    {{ include('market_place/_delete_form.html.twig') }}
{% endblock %}
